<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- 表单 -->
    <!-- action里写具体跳到哪个页面，localhost：0000可以不写 -->
    <!-- 提交方式：提交数据用post -->
    <form action="/add" method="post">
      新闻标题：<input type="text" name="title" />
      新闻内容：<textarea name="content" rows="10"></textarea>
      <!-- 触发提交 -->
      <input type="submit" value="submit"/>
    </form>
  </body>
</html>
